body #page-container {
	.et_pb_kkcontact_form_container.et_pb_kkextcontact_form_0 .et_pb_button,
	.et_pb_slider .et_pb_slide_0.et_pb_slide .et_pb_button,
	.et_pb_button_0,
	.et_pb_button_2 {
		&:hover {
			padding-left: 2em;
			padding-right: 0.7em;
		}
	}
}
.et_pb_button::after {
	transform: rotate(.5turn);
}
