.et_pb_column {
	float: right;
}

.et_pb_widget_area_left {
	padding-left: 30px;
	padding-right: 0;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: none;
}

@media ( min-width: 981px ) {
	.et_pb_row .et_pb_column  {
		margin-right: 0;
		margin-left: 5.5%;
		&:last-child {
			margin-left: 0;
		}
	}
	.et_pb_gutters1 .et_pb_column {
		margin: 0;
	}
	.et_pb_gutters3 .et_pb_column_1_2 .et_pb_row_inner .et_pb_column_1_4 {
		margin-right: 0;
		margin-left: 11.64%;
		&:last-child {
			margin-left:0
		}
	}
}

@media ( max-width: 980px ) {
	.et_pb_row_4col > .et_pb_column.et_pb_column_1_4,
	.et_pb_row_1-4_1-4_1-2 > .et_pb_column.et_pb_column_1_4,
	.et_pb_row_1-2_1-4_1-4 > .et_pb_column.et_pb_column_1_4,
	.et_pb_row_1-4_1-4 > .et_pb_column.et_pb_column_1_4 {
		margin-left: 5.5%;
		margin-right: 0;
		&:nth-child(even) {
			margin-left:0
		}
	}
}

.et_pb_row .et_pb_column:last-child, .et_pb_row_inner .et_pb_column:last-child {
	margin-left: 0;
}

.et_pb_blurb_position_right .et_pb_blurb_content {
	padding-right: 0;
}

.et_pb_social_media_follow li {
	float: right;
	a {
		float: right;
		margin-left: 8px;
		margin-right: 0;
	}
}

.et_pb_kkcontact_form_container .et_pb_contact_submit, .et_pb_contact_reset {
	float: left;
}

.et_pb_blurb_position_right .et-pb-icon {
	margin-left: 0;
}

.et_pb_kkcontact_form_container .et_pb_contact_left p {
	float: right;
	margin: 0 0 3% 3%;
	&:last-child {
		margin-left: 0;
	}
}