.container {
	text-align: right;
}

#et-top-navigation {
	font-family: 'Droid Arabic Kufi', serif !important;
	float: left;
	.et_pb_button:after {
		transform: rotate(.5turn);
	}
}

#top-menu li {
	padding-left: 22px;
	padding-right: 0;
}

.et_pb_button:hover {
	padding: 0.3em 1em 0.3em 2em;
}

#top-menu .menu-item-has-children > a:first-child {
	padding-left: 20px;
	padding-right: 0;
	&:after {
		left: 0;
		right: auto;
	}
}

.nav li ul {
	text-align: right;
}