@media (min-width: 981px) and (max-width: 1200px) {
  html #top-menu li {
    font-size: 13px;
    padding-right: 15px;
  }
  html[dir=rtl] #top-menu li {
    padding-right: 0;
    padding-left: 15px;
  }
}
